# Virtual environment
dev/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Database
db.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
*.env

# OS files
.DS_Store
Thumbs.db
